:root {
    --color-negative: #3A4042;
    --color-zero: #FFFFFF;
    --color-first: #F25A70;
    --color-second: #EFF25A;

    --color-third: #707070;
    --color-fourth: #828282;
    --color-fifth: #9B9B9B;

    --color-sixth: #EEEEEE;
    --color-seventh: #FFFCEE;
    --color-eigth: #F4F1E4;
    --color-tenth: #EAE6DA;
}